<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chronelab.roomdatabase" >

    <application
        android:name=".RoomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RoomDatabase" >
        <activity
            android:name=".NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".UserProfileActivity"
            android:exported="true" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RegistrationActivity"
            android:exported="false" />
        <activity android:name=".activity.SearchActivity" />
        <activity android:name=".activity.MessagesActivity" />
        <activity android:name=".activity.SettingsActivity" />
        <activity android:name=".activity.UserProfileActivity" />

    </application>

</manifest>